
// Required
@import "../node_modules/bootstrap/scss/functions";

// Default variable overrides
$bg-info: #000;
$bg-success: #111;

// Required
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// Optional Bootstrap components here
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";

h1{
    font-family: 'Paytone One', sans-serif;
    color: blue;
}

.head{
    height: 100px;
}